
.elegant_title {
    font-family: 'Cinzel', serif;
  }
  
  .elegant_paragraph {
    font-family: 'Lato', sans-serif;
  }
  
  .elegant_paragraph2 {
    font-family: 'Quattrocento', serif;
  }
  
  .glass_surface_cream_light {
    background: rgba(244, 235, 208, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(244, 235, 208, 0.3);
  }
  
  .glass_surface_dark {
    background: rgba(18, 38, 32, 0.83);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(18, 38, 32, 0.3);
  }
  
  .glass_clear {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  
  .glass_surface_white_light {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0 1rem;
  }
  
  .glass_surface_white_med {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0 1rem;
  }
  
  .glass_surface_white_med_thin {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0 0rem;
  }
  
  .glass_surface_white_hard {
    /* From https://css.glass */
    background: rgb(255, 255, 255, .6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 0 1rem;
  }
  
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/gold_scale.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }
  
  .hoverButton:hover {
    background-color: #D6AD60;
  }
  
  .player_wrapper {
    position: relative;
    padding-top: 56.25%;
    /* 720 / 1280 = 0.5625 */
  }
  
  .react_player {
    position: absolute;
    top: 0;
    left: 0;
  }